altgraph==0.17
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1614388790158/work/dist
AnyQt @ file:///home/conda/feedstock_root/build_artifacts/anyqt_1620306236038/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094676799/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1610522612123/work
asteval @ file:///home/conda/feedstock_root/build_artifacts/asteval_1614435675399/work
astroid==2.4.2
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
baycomp==1.0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
block-timer==0.2.0
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1611195639554/work
brotlipy==0.7.0
CacheControl==0.12.6
catboost @ https://pypi.org/packages/cp38/c/catboost/catboost-0.25.1-cp38-none-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613414067184/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
colorama==0.4.4
commonmark==0.9.1
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851512278/work
cycler==0.10.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1618050327922/work
docopt==0.6.2
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1618676290494/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147350851/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
h2 @ file:///Users/runner/miniforge3/conda-bld/h2_1610644033925/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1611864786085/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1607448970965/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio==2.9.0
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1619012232815/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1617137087667/work/dist/ipykernel-5.5.3-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1616836871001/work
ipython-genutils==0.2.0
isort==5.6.4
jdcal==1.4.1
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146833874/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1612125286065/work
jupyter-packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1618917196048/work
jupyter-server @ file:///Users/runner/miniforge3/conda-bld/jupyter_server_1619053296360/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1618241231046/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1617134349851/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1616689913955/work
keyrings.alt @ file:///home/conda/feedstock_root/build_artifacts/keyrings.alt_1608136994844/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099793141/work
lazy-object-proxy==1.4.3
lmfit @ file:///home/conda/feedstock_root/build_artifacts/lmfit_1613049058563/work
lockfile==0.12.2
macholib==1.14
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127533370/work
matlabengineforpython===R2021a
matplotlib==3.4.1
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1610112894259/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1610121729707/work
munkres==1.1.4
natsort==7.1.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1617878621483/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401854594/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx==2.5.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1618415081862/work
num2words==0.5.10
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1612953032265/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1615404969632/work
openTSNE @ file:///Users/runner/miniforge3/conda-bld/opentsne_1618141574651/work
orange-canvas-core @ file:///home/conda/feedstock_root/build_artifacts/orange-canvas-core_1619791625969/work
orange-widget-base @ file:///home/conda/feedstock_root/build_artifacts/orange-widget-base_1620028480823/work
Orange3 @ file:///Users/runner/miniforge3/conda-bld/orange3_1617138634826/work
order-of-magnitude==2.3.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.4.0
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
piecewise @ git+https://github.com/DataDog/piecewise@0e3c7f50d1e9fc8a251823edab13704e368aa1d4
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1615244150546/work
pipreqs==0.4.10
pkginfo==1.7.0
progressbar2==3.53.1
progressbar33==2.4
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1617909193315/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1616432837031/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pwlf==2.0.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyDOE==0.3.8
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1615243893546/work
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
pylustrator==1.1.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtChart==5.12
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1617773516748/work
PyQtWebEngine==5.12.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1610146902061/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil==2.8.1
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1609125227889/work
python-utils==2.5.6
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1614611974007/work
qasync @ file:///home/conda/feedstock_root/build_artifacts/qasync_1621235475021/work
QtAwesome==1.0.2
QtPy==1.9.0
readme-renderer==29.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-toolbelt==0.9.1
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1620442452971/work
scikit-image==0.18.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1611079794517/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1616878718599/work
Send2Trash==1.5.0
serverfiles==0.3.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1610318396434/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1617048797359/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2021.4.8
toml==0.10.2
tomlkit @ file:///Users/runner/miniforge3/conda-bld/tomlkit_1614274563436/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
tqdm==4.60.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
twine==3.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1605702954409/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
xgboost==1.4.0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1620818657148/work
yarg==0.1.9
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
